<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Change password</title>
</head>
<body>

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Change password</div>
                    <div class="card-body">
                        {% for i in user %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Username</label>
                                <div class="col-md-6">
                                    <input type="text"  class="form-control" name="username" value="{{i.username}}" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="new_password" required>
                                </div>


                            </div>



                            <div class="col-md-6 offset-md-4">

                                        <button type="submit" class="btn btn-primary">Reset password</button>

                                <a href="/home" class="btn btn-link">
                                   Nah !! Go back to home
                                </a>
                            </div>
                    </div>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>

</main>







</body>

<!--{% load static %}-->
<!--<!DOCTYPE html>-->

<!--<html lang="en">-->


<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="{% static 'css\style.css' %}">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >-->
<!--<body>-->
<!--<h1>Profile</h1>-->
<!--{% for i in user %}-->
<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--    <label for="username">Username</label>-->
<!--    <input type="text" name="username" value="{{i.username}}" required><br><br>-->
<!--    <label for="new_password">New password:</label>-->
<!--    <input type="password" name="new_password" required><br><br>-->
<!--    <input type="submit" value="Reset password">-->
<!--</form>-->
<!--{% endfor %}-->

{% if success %}
    <p>{{ success }}</p>
{% endif %}
</body>
